{
	"accounts": [
		{
			"email": "example@example.com",
			"password": "",
			"mode": "cookie or password"
		},
		{
			"email": "example2@example.com",
			"password": "example",
			"mode": "cookie or password"
		}
	],
	"count" : 30,
	"mobileCount" : 20,
	"delay" : 5,
	"delayRandom" : 5,
	"accountDelay" : 30
}
